
/* Global Styles */
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    width: 300px;
    height: 250px;
    border: 1px solid black;
}

/* Fonts & Typography */
/* Color codes */
/* Purple: 355070 */
/* Orange: EE8559 */
h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Roboto', sans-serif;
}



h1, 
h3 {
    color: #355070;
}

h2,
p,
h4,
a {
    color: white;
}

span {
    color: #EE8559;
}

h1 {
    font-size: 5px;
}

h2 {
    font-size: 10px;
}

h3 {
    font-size: 15px;
}

h4 {
    font-size: 5px;
}

p {
    font-size: 10px;
}

a {
    font-size: 10px;
}



/* Main Styles */

main {
    background-image: url(./assets/background-tucson.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 210px;
    margin-left: 20px;
    margin-right: 20px;
}

.background-color {
    background-color: #f7ede2;
}

.title-container {
    padding-left: 20px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

#chevrons {
    width: 20%;
    position: relative;
    top: 8px;
    margin-left: 2px;
}

.row-1 {
    display: flex;
    flex-direction: row;
}

.main-message-1 {
    background-color: #355070;
    margin-top: 8px;
    padding: 20px 18px 20px 10px;
    position: relative;
    right: -30px;
    box-shadow:-2px 0px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
}

.row-2 {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 25px;
    position: relative;
    bottom: -100px;
}

.legal {
    margin-right: 130px;
    letter-spacing: 1.5px;
}


/* Footer Styles */

footer {
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.footer-container a {
    border: 1px solid #355070;
    background-color: #355070;
    padding: 5px 13px 4px 8px;
}

.logo {
    width: 26%;
}