
/* Global Styles */
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    width: 300px;
    height: 250px;
    border: 1px solid black;
}

li {
    list-style: none;
}

/* Fonts & Typography */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    font-family: 'Roboto', sans-serif;
}



h1, 
h3,
h5 {
    color: #355070;
}

h2,
p,
h4,
h6,
a, 
li {
    color: white;
}

span {
    color: #EE8559;
}

h1 {
    font-size: 5px;
}

h2 {
    font-size: 10px;
}

h3 {
    /* font-size: 15px; */
    font-size: 18px;
}

h4 {
    font-size: 5px;
    font-weight: 400;
}

h5 {
    font-size: 12px;
    font-weight: 400;
}

h6 {
    font-size: 23px;
    font-weight: 400;
}

p {
    font-size: 11px;
}

a {
    font-size: 10px;
}

li {
    font-size: 6px;
    font-weight: 400;
}

.percent {
    font-size: 14px;
    color: white;
}

/* Main Styles */
/* Row 1 of Main */

main {
    background-image: url(./assets/background-tucson.jpeg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 210px;
    margin-left: 20px;
    margin-right: 20px;
}

.background-color {
    background-color: #f6f6f4;
}

.title-text {
    line-height: 1;
}

.title-container {
    padding-left: 20px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    position: relative;
}

#chevrons {
    width: 20%;
    position: relative;
}

#chevrons img {
    width: 210%;
    max-width: none;
    height: 60%;
}

.row-1 {
    display: flex;
    flex-direction: row;
}

.main-message-1 {
    background-color: #355070;
    margin-top: 8px;
    margin-left: 15px;
    padding: 15px 20px 25px 40px;
    position: relative;
    right: -20px;
    box-shadow:-2px 0px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    width: 135px;
    z-index: 333;
}

.main-message-2 {
    background-color: #355070;
    margin-top: 8px;
    margin-left: 15px;
    padding: 10px 0px 0px 5px;
    position: absolute;
    left: 126px;
    box-shadow:-2px 0px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    width: 135px;
    z-index: 0;
}

.main-message-2 h2 {
    font-weight: 400;
    font-size: 9px;
    margin: 2px 0;
}

.underline {
    border-bottom: 2px solid white;
}

.feature-list {
    display: flex;
    flex-direction: row;
}

.red-chevron {
    height: 22px;
    width: 15px;
    margin-right: 3px;

}

.unicode-smaller {
    font-size: 4px;
    color: white;
}

.main-message-3 {
    background-color: #355070;
    margin-top: 8px;
    margin-left: 15px;
    padding-bottom: 5px;
    position: absolute;
    left: 151px;
    box-shadow:-2px 0px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    width: 135px;
    z-index: 0;
}

.white-section {
    background-color: white;
    height: 20px;
    padding-top: 4px;
    padding-left: 11px;
    padding-right: 15px;
}

.figures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.figures-a,
.figures-b {
    margin-top: 3px;
    line-height: 1;
}

.barrier {
    transform: rotate(90deg);
}

.barrier h4 {
    padding-bottom: 5px;
}

.double-plus {
    transform: rotate(90deg);
    display: inline-block;
    color: white;
}

.end-section {
    text-align: center;
    margin-top: 3px;
}

/* Row 2 of Main */

.row-2 {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 25px;
    position: relative;
    bottom: -100px;
}

.row-2 h2,
.row-2 h4 {
    font-weight: 400;
}

.legal {
    margin-right: 130px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.legal-styles {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    scroll-behavior: smooth;
    padding: 2px;
    height: 50px;
    /* width: 70px; */
    overflow-y: scroll;
    position: relative;
    top: 20px;
}

/* ::-webkit-scrollbar {
    width: 10px;
} */

::-webkit-scrollbar-thumb {
  background: #355070; 
  border-radius: 10px;
}


.legal-styles p {
    color: black;
    font-size: 7px;
    padding: 5px;
}

.close {
    /* display: flex;
    align-self: flex-end; */
    text-align: right;
    cursor: pointer;
}

.hidden {
    display: none;
}

.show {
    display: block;
    border: 1px solid black;
}



/* Footer Styles */

footer {
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.footer-container a {
    border: 1px solid #355070;
    background-color: #355070;
    padding: 5px 13px 4px 8px;
}

.logo {
    width: 26%;
}